@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  padding: 0 70px;
  margin-bottom: -5px;
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.navigation-item .navigation-link {
  padding: 20px 16px;
}

.navigation-link {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link span {
  padding: 20px;
}

.button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  background-color: #756157;
  border-width: 0;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  margin: auto 0;
}

.navigation-link.button {
  padding: 8px 34px;
}

.button-additional {
  background-color: #82b3d3;
}

.hero {
  background-image: url("../images/optimized/hero-mask.svg"),
    url("../images/optimized/index-background.jpg");
  background-color: #4c7aa1;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  min-height: 485px;
}

.hero img {
  margin: 0 auto;
  padding-top: 51px;
}

.advantages-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0 90px;
}

.advantages-desc h2,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.title-advantages {
  margin-bottom: 25px;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(odd) {
  background-color: #e6f0f6;
}

.advantages-item:nth-child(even) {
  background-color: #f0f5f9;
}

.advantages-item:first-child,
.advantages-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item {
  display: flex;
  flex-basis: calc(100% / 3);
  text-align: center;
  margin: 0;
  min-height: 385px;
}

.advantages-item:has(img) {
  flex-grow: 1;
}

.advantages-item:has(img) .advantages-item-text {
  padding: 102px 85px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  margin: 0;
  padding: 112px 85px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  display: block;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 27px 60px;
}

.services-item {
  display: flex;
  flex-basis: calc(100% / 3);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 385px;
}

.services-item p {
  font-size: 18px;
  line-height: 21px;
}

.services-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-desc {
  padding: 64px 350px;
}

.services-desc .title {
  margin-bottom: 20px;
  display: block;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 96px 305px;
}

.call-to-action .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.call-to-action .title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.call-to-action p {
  display: block;
  justify-content: flex-start;
  margin-bottom: 54px;
}

.subscribe {
  box-sizing: border-box;
  padding: 96px 256px 104px;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex: row;
}

.subscribe-text {
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-text p {
  margin: 0;
  padding: 0;
}

.subscribe-text .title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe .button-additional {
  display: block;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0;
  margin: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subscribe-index {
  color: #ffffff;
  background: url("../images/optimized/subscribe-index.jpg");
  background-color: #93adb9;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.subscribe-catalog .subscribe-form .subscribe-field {
  background-color: #f2f2f2;
}

.footer {
  padding: 40px 70px 30px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
}

.contacts a {
  text-decoration: none;
  color: inherit;
}

.contacts-phone {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 40px;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.socials-item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.filters {
  background-image: url("../images/optimized/filter.jpg");
  background-color: #545358;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 70px;
  padding-top: 35px;
}

.filters-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}

.filters-button-wrapper .button {
  padding: 8px 50px;
  margin-bottom: 32px;
}

.filters-button-wrapper .button:last-child {
  margin-bottom: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  padding: 0 5px;
}

.catalog-header {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  padding: 0 15px;
}

.catalog-filter-group {
  border-width: 0;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalog-filter-group-price {
  margin-left: 70px;
}

.price-inputs {
  display: flex;
  flex-direction: row;
}

.price-inputs input {
  color: #000000;
  border-width: 0;
  background-color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  height: 48px;
  padding-left: 20px;
  box-sizing: border-box;
}

.price-inputs-from {
  margin-right: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-inputs-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-inputs input::placeholder {
  text-transform: lowercase;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
}

.button-transparent {
  background-color: transparent;
}

.results {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 70px;
}

.results-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 0 40px;
}

.results-header-container a {
  width: 48px;
  height: 48px;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;
}

.results-header-container a:last-child {
  margin-right: 0;
}

.results-header {
  text-transform: uppercase;
  display: flex;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.select-control {
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  color: #333333;
  background-color: #ffffff;
  margin-right: 70px;
  padding-left: 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotels-list {
  list-style: none;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  align-items: center;
}

.hotel-card {
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-card .button {
  display: inline-flex;
  width: 140px;
  height: 36px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.button.rating {
  margin-bottom: 0;
}

.hotel-card-title {
  display: block;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  padding: 16px 0;
  margin: 0;
}

.hotel-card-details {
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.hotel-card .rating {
  background-color: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.button-chosen {
  background-color: #7bb34e;
}

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 60px;
  gap: 8px;
}

.pagination-item .button {
  display: inline-flex;
  min-width: 60px;
  padding: 12px 5px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  box-sizing: border-box;
}

.pagination-item .pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-others .button {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-field {
  font-family: inherit;
  color: #000000;
  background-color: #ffffff;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 14px 20px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}
